.carousel-initialized {
    padding-left: 35px!important;
}

.carousel-prev, .carousel-next {
    height: 30px;
    width: 30px;
    background-image: none;
    border-radius: 50%;
    background-color: black;
    opacity: 0.5!important;
}

.carousel-prev {
    transform: translate(0, 90px);
}

.carousel-next {
    transform: translate(-10px, 90px);
}

.carousel-prev::before, .carousel-next::before  {
    border-style: solid;
    border-color: white!important;
    height: 10px;
    width: 10px;
    background-image: none;
    display: flex;
}

.carousel-prev::before {
    border-style: solid;
    border-color: white!important;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    border-width: 0px 0px 3px 3px;
    margin-left: 3px;
}
.carousel-next::before {
    border-style: solid;
    border-color: white!important;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    transition: 150ms ease-in-out;
    border-width: 3px 3px 0px 0px;
    margin-right: 3px;
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: #00c2e8;
}

@media (max-width: 599px) {
    .carousel-prev, .carousel-next {
        display: none;
    }
    .carousel-initialized {
        padding-left: 0!important;
    }
}